<form [formGroup]="checkinFormGroup" novalidate (ngSubmit)="saveCheckinForm()">
    <div class="form-group">
        <label class="center-block">Tháng
            <small *ngIf="checkinFormGroup.get('month')?.invalid" class="text-danger">*</small>
            <input type="text" matInput [matDatepicker]="dp" class="form-control" formControlName="month">
            <!-- <input matInput [matDatepicker]="picker" formControlName="month">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker> -->
            <!-- <input matInput [matDatepicker]="dp"> -->
            <mat-datepicker-toggle [for]="dp" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
            <small *ngIf="checkinFormGroup.get('month')?.invalid && this.submitted == true " class="text-danger">
                This field is required!
            </small>
        </label>
        <label class="center-block">Mã nhân viên
            <small *ngIf="checkinFormGroup.get('employee_id')?.invalid" class="text-danger">*</small>
            <select class="form-control" formControlName="employee_id">
                <option value="" disabled selected>Chọn nhân viên</option>
                <option *ngFor="let employee of employees">
                    {{ employee.employee_id }}
                </option>
            </select>
            {{checkinFormGroup.get('employee_id')?.value}}
            <small *ngIf="checkinFormGroup.get('employee_id')?.invalid && this.submitted == true " class="text-danger">
                This field is required!
            </small>
        </label>
        <label class="center-block">Ngày 1
            <input type="text" class="form-control" formControlName="day_1">
        </label>
        <label class="center-block">Ngày 2
            <input type="text" class="form-control" formControlName="day_2">
        </label>
        <label class="center-block">Ngày 3
            <input type="text" class="form-control" formControlName="day_3">
        </label>
        <label class="center-block">Ngày 4
            <input type="text" class="form-control" formControlName="day_4">
        </label>
        <label class="center-block">Ngày 5
            <input type="text" class="form-control" formControlName="day_5">
        </label>
        <label class="center-block">Ngày 6
            <input type="text" class="form-control" formControlName="day_6">
        </label>
        <label class="center-block">Ngày 7
            <input type="text" class="form-control" formControlName="day_7">
        </label>
        <label class="center-block">Ngày 8
            <input type="text" class="form-control" formControlName="day_8">
        </label>
        <label class="center-block">Ngày 9
            <input type="text" class="form-control" formControlName="day_9">
        </label>
        <label class="center-block">Ngày 10
            <input type="text" class="form-control" formControlName="day_10">
        </label>
        <label class="center-block">Ngày 11
            <input type="text" class="form-control" formControlName="day_11">
        </label>
        <label class="center-block">Ngày 12
            <input type="text" class="form-control" formControlName="day_12">
        </label>
        <label class="center-block">Ngày 13
            <input type="text" class="form-control" formControlName="day_13">
        </label>
        <label class="center-block">Ngày 14
            <input type="text" class="form-control" formControlName="day_14">
        </label>
        <label class="center-block">Ngày 15
            <input type="text" class="form-control" formControlName="day_15">
        </label>
        <label class="center-block">Ngày 16
            <input type="text" class="form-control" formControlName="day_16">
        </label>
        <label class="center-block">Ngày 17
            <input type="text" class="form-control" formControlName="day_17">
        </label>
        <label class="center-block">Ngày 18
            <input type="text" class="form-control" formControlName="day_18">
        </label>
        <label class="center-block">Ngày 19
            <input type="text" class="form-control" formControlName="day_19">
        </label>
        <label class="center-block">Ngày 20
            <input type="text" class="form-control" formControlName="day_20">
        </label>
        <label class="center-block">Ngày 21
            <input type="text" class="form-control" formControlName="day_21">
        </label>
        <label class="center-block">Ngày 22
            <input type="text" class="form-control" formControlName="day_22">
        </label>
        <label class="center-block">Ngày 23
            <input type="text" class="form-control" formControlName="day_23">
        </label>
        <label class="center-block">Ngày 24
            <input type="text" class="form-control" formControlName="day_24">
        </label>
        <label class="center-block">Ngày 25
            <input type="text" class="form-control" formControlName="day_25">
        </label>
        <label class="center-block">Ngày 26
            <input type="text" class="form-control" formControlName="day_26">
        </label>
        <label class="center-block">Ngày 27
            <input type="text" class="form-control" formControlName="day_27">
        </label>
        <label class="center-block">Ngày 28
            <input type="text" class="form-control" formControlName="day_28">
        </label>
        <label class="center-block">Ngày 29
            <input type="text" class="form-control" formControlName="day_29">
        </label>
        <label class="center-block">Ngày 30
            <input type="text" class="form-control" formControlName="day_30">
        </label>
        <label class="center-block">Ngày 31
            <input type="text" class="form-control" formControlName="day_31">
        </label>
    </div>
    <p>Form value: {{checkinFormGroup.status | json }}</p>
    <button type="submit" class="btn btn-primary" [disabled]="!checkinFormGroup.valid">Submit</button>
</form>
