<form [formGroup]="employeeFormGroup" (ngSubmit)="saveEmployee()">
    <h1>Employee Form</h1>
    <div class="form-group">
        <label class="center-block">Ho ten:
            <input type="text" class="form-control" formControlName="fullName">
        </label>
        <label class="center-block">Ma nhan vien
            <input type="text" class="form-control" formControlName="employee_id">
        </label>
        <label class="center-block">Email
            <input type="text" class="form-control" formControlName="email">
        </label>
        <label class="center-block">So dien thoai
            <input type="text" class="form-control" formControlName="phone_number">
        </label>
        <label class="center-block">Ma phong ban
            <!-- <input type="text" class="form-control" formControlName="department_id"> -->
            <select class="form-control" formControlName="department_id">
                <option *ngFor="let department of departments">
                    {{department.id}}
                </option>
            </select>
        </label>
        <label class="center-block">Lương cơ bản
            <input type="text" class="form-control" formControlName="basic_salary">
        </label>
        <label class="center-block">Phụ cấp ăn trưa
            <input type="text" class="form-control" formControlName="lunch_allowance">
        </label>
        <label class="center-block">Phụ cấp khác
            <input type="text" class="form-control" formControlName="other_allowance">
        </label>
        <label class="center-block">Tỷ suất bảo hiểm
            <input type="text" class="form-control" formControlName="insurance_rate">
        </label>
        <label class="center-block">Số người phụ thuộc
            <input type="text" class="form-control" formControlName="dependents_number">
        </label>
        <div class="btn-div">
            <button type="submit" class="button-7">Submit</button>
        </div>
    </div>
    <!-- <p>Form value: {{employeeFormGroup.value | json }}</p> -->
</form>
